@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bree+Serif&family=Montserrat:ital,wght@0,300;0,400;1,400&family=MuseoModerno:ital,wght@0,200;0,400;1,400&family=Poppins:ital,wght@0,300;0,400;1,400&family=Spectral+SC:ital@0;1&display=swap');

:root{
    --main-color:#5352ed;
    --bg-color: #fff;
    --text-color:#171427;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
body{
}
/* Navbar and Header */
header{
    height: 60px;
    background-color: var(--bg-color);
    width: 100%;
    position: fixed;
    top:0;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    /* justify-content: space-between; */
    margin: 0px 30px;
    align-items: center;
}
.nav img{
    height:50px;
    object-fit: cover;
    margin-top: -15px;
}
/* Search */
.search_container{
    display: flex;
    align-items: center;
    position: relative;
}
#searchBox{
    outline: none;
    width: 450px;
    height: 30px;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.555);
    text-indent: 15px;
    border-radius: 5px;
}
#search{
    content: '';
    position: absolute;
    background-color: var(--main-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    right: 0;
}

/* Right NavBar */
.right_nav ul{
    display: flex;
    list-style: none;
}
.right_nav ul a{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    margin: 5px 15px;
}
.right_nav ul li{
    padding: 5px 15px;
    transition: .5s ease-in-out;
}
.right_nav ul li:hover{
    transform: scale(1.1);
}
/* Mobile device Responce Menu */
.smallWindow{
    display: none;
    transition: 0.5s ease-in-out;
}
.list{
    transition: 0.5s ease-in-out;
}
.list ul{
    display:flex;
    position: absolute;
    right: 0;
    width: 200px;
    margin-top: 11px;
    background-color:var(--bg-color);
    flex-direction: column-reverse;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
}
.list ul li{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.list ul li:hover{
    background-color:#5252ed88;
}
.list.active{
    display: block;
}

/* MenuTag */
@media only screen and (max-width:800px) {
    .smallWindow{
        display: block;
    }
    .menutag{
        margin-left: 20px;
        font-size: 22px;
        transition: .5s ease-in-out;
        cursor: pointer;
    }   
    .list,.options{
        display: none;
    }
    .nav{
        margin-top: 10px;
    }
}
/* Order Page */
.order_page{
    display:flex;
    margin-top: 70px;
}
/* Filters */
.filter_container{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding:0px 15px;
    margin-right: 30px;
    position: relative;
    top: 0;
}
.filters{
    margin-bottom: 10px;
}
.filter{
   margin-bottom: 10px;
}
.filter_name{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
}
.filter_name i{
    cursor:pointer;
}

.filter_list ul{
    display:flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 15px;
    background-color:var(--bg-color);
    list-style: none;
}
.filter_list ul a{
    color: var(--text-color);
    transition: 0.5s ease-in-out;
}
.filter_list ul button{
    background-color: transparent;
    border: none;
    font-size: 17px;
    cursor: pointer;
    text-align: left;
}
.filter_list ul li{
    border-radius: 10px;
padding: 5px 15px;
border-bottom: 1px solid lightgray;
transition:0.3s ease-in-out;
}
.filter_list li:hover{
    background-color: var(--main-color);
    border-radius: 5px;
}
.btn_clicked{
    background-color: var(--main-color);
}
.filter_list{
    transition: 0.5s ease-in-out;
    display: none;
}
.selected{
    background-color: lightgray;
}
.filter_name.selected + .filter_list{
    display: block;
}
/* Promotions */
.promotion img{
    width: 200px;
}
/* Products Details */
.products{
    /* margin-top: 20px; */
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 15px;
}
.box{
    height: 280px;
    border: none;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.4s ease-in-out;
    transition-delay: .2s;
    padding: 15px 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 0.5px 1px 0px, rgba(60, 64, 67, 0.15) 0px 0.5px 1.5px 0.5px;
}
.box:hover{
    transform: scale(1.04);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.product_img{
    width: 140px;
    height: 160px;
    border-radius: 4px;
    cursor: pointer;
    /* margin-left: 15px;    */
}
.product_price{
    display: flex;
}
.product_btn button{
    cursor: pointer;
    padding: 4px 5px;
    border: 1px solid #20bf6b;
    font-size: 15px;
    transition: 0.3s ease-in-out;
    border-radius: 4px;
    margin-right: 5px;
    background-color: transparent;
}
.product_btn .buy_btn:hover{
    background-color: #20bf6b;
}
.product_btn .add_cart_btn:hover{
    background-color: #20bf6b;
}
.product_btn button:hover{
    opacity: 0.95;
}
.product_price{
    font-family: 'alata',sans-serif !important
}
/* Add to Cart */
