@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=La+Belle+Aurore&display=swap");
.frontbox:hover {
  transform: scale(1.08);
}
.frontbox button {
  width: 90px;
  padding: 1px;
  font-size: 15px;
  background-color: #84728839;
  font-weight: bold;
  border-radius: 50px;
  border: 1 px solid rgb(0, 0, 0);
}
.frontbox {
  width: 150px;
  height: 90px;
  background-color: #d7fbda;
  font-size: 15px;
  color: rgb(117, 25, 129);
  border-radius: 60px;
  text-align: center;
  padding: 20px;
  font-family: "Anton", sans-serif;
  font-weight: lighter;
  position: relative;
  left: 86%;
  bottom: 10px;
  box-shadow: black 7px 9px;
}
.frontbox button:hover {
  color: brown;
  background-color: rgba(137, 43, 226, 0.303);
  font-size: 14px;
}

.backbox {
  width: 170px;
  height: 90px;
  background-color: #d7fbda;
  font-size: 15px;
  color: rgb(117, 25, 129);
  border-radius: 60px;
  text-align: center;
  padding: 20px;
  font-family: "Anton", sans-serif;
  font-weight: lighter;
  position: relative;
  left: 86%;
  bottom: 10px;
  box-shadow: black 7px 9px;
}
.backbox:hover {
  transform: scale(1.08);
}
.backbox button {
  width: 100px;
  padding: 1px;
  font-size: 15px;
  background-color: #f5d9fa;
  font-weight: bold;
  border-radius: 50px;
}
.backbox button:hover {
  color: brown;
  background-color: rgba(137, 43, 226, 0.303);
  font-size: 14px;
}
@media screen and (max-width) {
}
