@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap');
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #cccbdb, #302b63);
}
#mainform
{
    background-color: rgba(248, 246, 246);
    border: 1px solid rgba(0, 0, 0, 0.500);
    font-family: 'Heebo', sans-serif;
    background-position: center;
    width: 400px;
    height: 340px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}
#logobox
{
    padding-top: 30px;
}
#logo
{
    height: 120px;
}
#loginbox
{
    padding-top:10px;
    text-align: center;
}
.mailandotp{
    margin-top: 20px;
}
#pw
{
    height: 30px;
    width: 200px;
    background-color: rgb(131, 131, 131);
    box-shadow: 1px 4px rgba(62, 62, 62, 0.500), 3px 2px rgba(0, 0, 0, 0.500), 1px 3px rgba(0, 0, 0, 0.500);
    border: 1px solid rgba(0, 0, 0, 0.500);
    outline: none;
    color: antiquewhite;
    border: none;
    margin-bottom: 10px;
    text-indent: 10px;
}
#userid
{
    height: 30px;
    width: 200px;
    background-color: rgb(131, 131, 131);
    box-shadow: 1px 4px rgba(62, 62, 62, 0.500), 3px 2px rgba(0, 0, 0, 0.500), 1px 3px rgba(0, 0, 0, 0.500);
    border: 1px solid rgba(0, 0, 0, 0.500);
    outline: none;
    color: antiquewhite;
    border: none;
    margin-bottom: 10px;
    text-indent: 10px;
}
::placeholder
{
    color: rgb(250, 249, 249);
    opacity: 0.85;
}
#generateotp
{
    height: 25px;
    width: 110px;
    opacity: 1;
    margin-bottom: 10px;
    background-color: rgba(9, 185, 229, 0.603);
    box-shadow: 1px 4px rgba(0, 0, 0, 0.500), 3px 2px rgba(0, 0, 0, 0.500), 1px 3px rgba(0, 0, 0, 0.500);
    border: 1px solid rgba(0, 0, 0, 0.500);
    border: none;
    /* border-radius: 10px; */
    cursor: pointer;
}
#verify
{
    height: 25px;
    width: 110px;
    opacity: 1;
    margin-bottom: 25px;
    background-color: rgba(9, 185, 229, 0.603);
    box-shadow: 1px 4px rgba(0, 0, 0, 0.500), 3px 2px rgba(0, 0, 0, 0.500), 1px 3px rgba(0, 0, 0, 0.500);
    border: 1px solid rgba(0, 0, 0, 0.500);
    border: none;
    /* border-radius: 10px; */
    cursor: pointer;
}
#newuser
{
    font-size: 15px;
    color: rgba(0, 1, 7, 0.753);
}
#signup
{
    font-size: 15px;
    color: rgba(9, 24, 229, 0.753);
}
#googlebox
{
    width: 210px;
    height: 48px;
    padding-top: 30px;
}
#or
{
    width: 85%;
    padding-left: 20px;
    margin: 10px;
    color: rgb(17, 17, 15);
}
#googleimg
{
    position: absolute;
    height: 30px;
    width: 30px;
}
#verify:hover {
    box-shadow: 1px 4px rgba(62, 62, 62, 0.500), 3px 2px rgba(0, 0, 0, 0.500), 1px 3px rgba(0, 0, 0, 0.500);
    border: 1px solid rgba(0, 0, 0, 0.500);
    background-color: rgb(64, 238, 72);
}
#generateotp:hover {
    box-shadow: 1px 4px rgba(62, 62, 62, 0.500), 3px 2px rgba(0, 0, 0, 0.500), 1px 3px rgba(0, 0, 0, 0.500);
    border: 1px solid rgba(0, 0, 0, 0.500);
    background-color: rgb(64, 238, 72);
}